# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
.env.local

# Node
node_modules/
dist/
build/
local_storage/
frontend/node_modules/
frontend/dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# audios
local_storage/uploads/*
local_storage/transcripts/*
!.gitkeep

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log